.list-channels {
  &__no-channels {
    text-align: center;
    opacity: 0.6;
  }

  &__block {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000;
    text-decoration: none;
    font-weight: bold;
  }
}
